.flex-container{
    -webkit-box-flex-group: inherit;
    flex-wrap: wrap;
    flex-grow: inherit;
}


body{
  
    background-image: url(D:\Projects\images\hh.png);
    margin:0px;
    background-size:cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%; 
    border-top:40px solid #2af8eb; 
}
.yes{
    display: inline-flex;
}

.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
img{
    width: 450px;
    height: 350px;
    display:inline-flex;
    justify-content: center;
    margin: 10px;
    transition: .2s;
    margin-bottom: 30px;
    filter: drop-shadow(5px 8px 14px #00000033)
    
} 
.images :hover{
   transform: translateY(-5px);
   filter: drop-shadow(12px 15px 14px #00000033);
   
}  
h1{
    text-align: center;
    color:#2af8eb;
    margin-top: 0px;
    font-size: 3em;
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight:normal;
    flex-wrap: wrap;
    transition: 0.5s;  
    background: -webkit-linear-gradient(black,	#2af8eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-top: 0px;
    margin-left:0px; 
    padding: 20px 15px;
    border-top:8px solid #0c756e; 
    border-right:8px solid #0c756e; 
    border-spacing:0; 
    border-radius:25px;   
    
}
h1:hover{
    background:#2af8eb;  -webkit-background-clip: text;
}
p{
    color: antiquewhite;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    background: -webkit-linear-gradient(	#808080,#DCDCDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #808080;
    font-size: 2em;
    text-decoration: none;  
    margin:0px 30px;  
    

    
     
}
a:link{
    color: #808080;
}

a:hover{
    color:white;
}
.box{
    margin: 100px auto;
    width: 300px;
    height: 50px;
    
}
.searchContainer{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
  
  

nav ul li{
    text-decoration: none;
    list-style: none
}
.container ul{
    display: flex;
    margin-top:35px;
    border-right:1px solid #808080  
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: absolute;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    max-width: 25%;
    right: 5vw;
    width: 30px;
    transition: all 0.5s ease-in
  }
  .searchContainer:hover   {
      width: 300px;

  }
  
  .searchIcon {
    padding: 0.5rem;
    color:#2af8eb;
    font-size: 1.4em;
    
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
  }

  .searchBox:hover{
    outline:none;
    background:white;
  }
  
  .searchButton {
    background: black;
    border: 0;
    color: white;
    padding: 0.5em;
    border-radius: 0;
  }
  /* media queries */
  @media only screen and (max-width:600px){
      h3{
          font-size: 1.5em
      }
     
    nav{
        display: none
    }
    h1{
        font-size: 1.5em
    }
    .page{
        width:
    }
    

  }