.flex-container{
    -webkit-box-flex-group: inherit;
    flex-wrap: wrap;
    flex-grow: inherit;
}


body{
  
    background-image: url(C:\Users\NirajSawant\Desktop\WALLPAPERS\Untitled-1.jpg);
    height: 100%;;
    width: 100%;
    margin:0px;
    background-size:cover;
    background-position: center;
    background-color: rgb(76, 71, 71);
    height: 100%; 
    filter: drop-shadow(25px 25px 25px black);
    border-top:40px solid #2af8eb; 
}
.yes{
    display: inline-flex;
}
.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
img{
    width: 450px;
    height: 350px;
    display:inline-flex;
    justify-content: center;
    margin: 10px;
    transition: .2s;
    margin-bottom: 30px;
    filter: drop-shadow(5px 8px 14px #00000033)
    
} 
.images :hover{
   transform: translateY(-5px);
   filter: drop-shadow(12px 15px 14px #00000033);
   
}  
h1{
    text-align: center;
    color:#2af8eb;
    margin-top: 0px;
    font-size: 3em;
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight:normal;
    flex-wrap: wrap;
    transition: 0.5s;  
    background: -webkit-linear-gradient(black,	#2af8eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-top: 0px;
    margin-left:0px; 
    padding: 20px 15px;
    border-top:8px solid #16c2b7; 
    border-right:8px solid #0c756e; 
    border-spacing:0; 
    border-radius:25px; 
    background-color: black;  
    
}
h1:hover{
    background:#2af8eb;  -webkit-background-clip: text;
}
p{
    color: ;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    background: -webkit-linear-gradient(	#808080,#DCDCDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #808080;
    font-size: 2em;
    text-decoration: none;  
    margin:0px 30px;  
    

    
     
}
a:link{
    color: #808080;
}

a:hover{
    color:white;
}
.box{
    margin: 100px auto;
    width: 300px;
    height: 50px;
    
}
.searchContainer{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
  }
 .a1{
    height: 350px;
    width: 250px;
    justify-content: center;
    display: inline-flex;
    margin-left:250px;
    margin-bottom:70px; 
    display: inline-flex;
    background-color: #2af8eb;
    transition: .5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 } 
 .a2{
    height: 350px;
    width: 250px;
    display: inline-flex;
    justify-content: center;
    margin-left:150px;
    margin-bottom:70px; 
    display: inline-flex;
    background-color: #2af8eb;
    transition: .5s;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 } 
 .a3{
    height: 350px;
    width: 250px;
    justify-content: center;
    display: inline-flex;
    margin-left:150px;
    margin-bottom:70px; 
    display: inline-flex;
    background-color: #2af8eb;
    transition: .5s;
    margin-right:30px; 
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 } 
 .awesome{
     display: inline-flex;
     justify-content: center;
 } 
 .a1:hover{
     transform: scale(1.1);
 }
 .a2:hover{
    transform: scale(1.1);
}
.a3:hover{
    transform: scale(1.1);
}
path[Attributes Style] {
    transform: matrix(0.71429, 0, 0, 0.71429, 340.25, 247.93);
    d: path("M 126.62 1.4688 C 96.793 1.0405 66.534 5.8037 39.094 17.6878 c -11.572 5.812 -25.247 13.622 -27.285 27.717 c -9.9461 35.26 -13.517 72.385 -8.0682 108.76 c 2.4698 14.88 3.1606 30.57 8.8532 44.68 c 14.562 25.446 43.578 38.249 71.101 44.623 c 49.908 10.297 105.45 8.3626 149.65 -19.279 c 13.987 -9.3248 27.515 -20.468 36.312 -34.938 c 1.6301 -3.5664 3.1294 -7.6203 2.9375 -11.5 c -4.1655 -1.3921 -8.8296 2.5731 -13.067 3.3397 c -22.421 8.8125 -45.718 15.239 -69.668 17.646 c -10.136 1.7138 -19.605 6.745 -30.171 5.452 c -6.3481 0.21579 -16.19 -1.0491 -15.438 -9.4688 c -0.86278 -6.1986 2.225 -12.726 8.5312 -14.188 c 10.802 -3.3329 22.923 0.20575 31.125 7.75 c 8.0664 2.0092 16.509 -1.8636 24.545 -2.8756 c 23.176 -4.289 44.802 -13.824 65.33 -25.124 c 4.8221 -3.7678 3.2867 -11.288 4.4422 -16.685 c 1.5187 -33.414 3.8583 -68.403 -9.5095 -99.929 c -2.14 -8.716 -8.5 -15.386 -16.81 -18.66 c -26.91 -13.562 -56.93 -20.891 -86.85 -23.196 c -12.79 -0.4948 -25.6 -0.3545 -38.41 -0.3352 Z m -61 15.812 c 6.89 0.051 8.899 9.449 4.661 14.094 c -2.605 4.971 -10.758 5.472 -12.562 -0.375 c -2.12 -5.404 1.796 -13.342 7.906 -13.719 Z m -20.932 22.157 c 11.322 0.03813 17.778 13.848 13.875 23.531 c -2.4821 10.291 -13.537 20.446 -24.344 15.75 c -11.504 -6.333 -10.311 -23.528 -2.438 -32.25 c 3.212 -3.832 7.872 -6.879 12.907 -7.031 Z");
}
user agent stylesheet:not(svg) {
    transform-origin: 0px 0px;
}
color: rgb(0, 0, 0);
d: path("M 126.62 1.4688 C 96.793 1.0405 66.534 5.8037 39.094 17.6878 C 27.522 23.4998 13.847 31.3098 11.809 45.4048 C 1.8629 80.6648 -1.708 117.79 3.7408 154.165 C 6.2106 169.045 6.9014 184.735 12.594 198.845 C 27.156 224.291 56.172 237.094 83.695 243.468 C 133.603 253.765 189.145 251.83 233.345 224.189 C 247.332 214.864 260.86 203.721 269.657 189.251 C 271.287 185.684 272.786 181.63 272.595 177.751 C 268.429 176.359 263.765 180.324 259.528 181.09 C 237.107 189.903 213.81 196.329 189.86 198.736 C 179.724 200.45 170.255 205.481 159.689 204.188 C 153.34 204.404 143.499 203.139 144.251 194.72 C 143.388 188.521 146.476 181.994 152.782 180.532 C 163.584 177.199 175.705 180.737 183.907 188.282 C 191.973 190.291 200.416 186.418 208.452 185.406 C 231.628 181.117 253.254 171.582 273.782 160.282 C 278.604 156.514 277.068 148.994 278.224 143.597 C 279.743 110.183 282.082 75.1941 268.714 43.6681 C 266.574 34.9521 260.214 28.2821 251.904 25.0081 C 224.994 11.4461 194.974 4.11707 165.054 1.81208 C 152.264 1.31728 139.454 1.45758 126.644 1.47688 Z M 65.62 17.2808 C 72.51 17.3318 74.519 26.7298 70.281 31.3748 C 67.676 36.3458 59.523 36.8468 57.719 30.9998 C 55.599 25.5958 59.515 17.6578 65.625 17.2808 Z M 44.688 39.4378 C 56.01 39.4759 62.466 53.2858 58.563 62.9688 C 56.0809 73.2598 45.026 83.4148 34.219 78.7188 C 22.715 72.3858 23.908 55.1908 31.781 46.4688 C 34.993 42.6368 39.653 39.5898 44.688 39.4378 Z");
display: inline;
fill: rgb(128, 229, 255);
fill-opacity: 0.62117;
height: auto;
transform: matrix(0.71429, 0, 0, 0.71429, 340.25, 247.93);
transform-origin: 0px 0px;
width: auto;
 

nav ul li{
    text-decoration: none;
    list-style: none
}
.container ul{
    display: flex;
    margin-top:35px;
     
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: absolute;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    max-width: 25%;
    right: 5vw;
    width: 30px;
    justify-content: right(0px);
    transition: all 0.5s ease-in
  }
  .searchContainer:hover   {
      width: 300px;

  }
  
  .searchIcon {
    padding: 0.5rem;
    color:#2af8eb;
    font-size: 1.4em;
    
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
  }

  .searchBox:hover{
    outline:none;
    background:white;
  }
  
  .searchButton {
    background: black;
    border: 0;
    color: white;
    padding: 0.5em;
    border-radius: 0;
  }
  /* media queries */
  @media only screen and (max-width:600px){
      h3{
          font-size: 1.5em
      }
     
    nav{
        display: none
    }
    h1{
        font-size: 1.5em
    }
    
    

  }