body{
  margin: 0px;
  padding: 0;  
  background-image: url(5c9fa12eafbb8.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,body{
    overflow: hidden;
}


.yeah{
    color: rgb(21, 121, 243);
    margin:0px;
    height: 60px; 
    text-align: center;
}